<section class="-lightOnDark" id="about">
  <div
    class="layer layer-img b-lazy"
    data-src="/images/backgrounds/laura-desert.jpg"
  ></div>
  <div class="layer layer-gradient layer-gradient-dark"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2 class="hero">About Laura</h2>
        <p>
          Laura is a massage and movement specialist who brings a unique breadth
          of knowledge and experience to the practice. With 12 years experience
          as a soft tissue therapist, she combines an intuitive touch with
          expertise in several movement disciplines. After initially training in
          massage therapy and then Pilates, Laura was quick to recognise the
          enhanced benefit of combining hands on therapy and movement work.
          Since then, she has been dedicated to continually expanding her
          knowledge in both domains - developing a uniquely diverse skill-set
          including JEMS, Oov training and the Be Activated technique. As such,
          Laura can often bring new insight and progress to people with chronic
          issues that have been resistant to a more conventional approach.
        </p>
        <p>
          <a href="/about" class="btn -light -outline"
            >Learn more <span class="icon icon-chevron-right"></span
          ></a>
        </p>
      </div>
    </div>
  </div>
</section>
