<section id="how-can-i-help">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="hero -section">How can I help?</h2>
      </div>
      <div class="row-slim">
        <p>People come to see me for a wide range of reasons. These are some of the more common scenarios:</p>
        <ul>
          <li>Chronic neck or back pain that is non-responsive or has plateaued with conventional treatment.</li>
          <li>Hip and knee pain related to arthritis, unresolved previous injury or idiopathic (unknown origin).</li>
          <li>Upper or lower limb neural tension related to neck or low back issues.</li>
          <li>Headaches</li>
          <li>Postural aches and pains.</li>
          <li>Reoccurring training injuries. </li>
          <li>Postural education.</li>
          <li>Breathing education.</li>
          <li>Mobility/flexibility.</li>
          <li>Core strength and conditioning.</li>  
          <li>Massage therapy for general aches and pains or simply to unwind and de-stress</li>
        </ul>
        <p>If you're not sure, feel free to get in touch via email. I am happy to answer any of your questions prior to booking.</p>
        <p><i>Please note, my expertise is in identifying and addressing postural and movement factors that are contributing to your aches, pains, injuries or performance issues. If you are experiencing an acute episode, please see a practitioner skilled in orthopaedic assessment and diagnosis. Reccommendations can be provided on request.</i></p>
        <p>An acute episode may include:</p>
        <ul>
          <li>Undiagnosed pain with sudden, intense onset.</li>
          <li>Difficulty standing or walking.</li>
          <li>Any new numbness or tingling that is accompanied by a loss of strength. </li>
          <li>Acute sports injury accompanied by significant pain, swelling or bruising.</li>
        </ul>

      </div>
    </div>

  </div>
</section>