<section id="location">
  <!-- <div class="layer layer-img b-lazy" data-src="/images/backgrounds/plusfitness_streetview.jpg"></div> -->
  <div class="layer layer-img" id="snazzyMap"></div>
  <!-- <div class="layer layer-gradient layer-gradient-dark"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-2 col-sm-push-5">
        <div class="well">
          <h2 class="hero">Where to find me</h2>
          <p class="address">
            <a href="https://goo.gl/maps/hPzYQLZdLFs" target="_blank">
              Plus Fitness Manly<br />
              29-33 Pittwater Rd<br />
              Manly <br />
              NSW 2095</a>
          </p>
          <p>
            Please ring the outside bell.
          </p>
          <div class="row photoSwipe-gallery">
            <div class="col col-sm-4">
              <a href="/images/galleries/location/1.jpg" data-size="1200x800"><img src="/images/galleries/location/1_thumb.jpg"
                  alt="" class="img-fluid" /></a>
            </div>
            <div class="col col-sm-4">
              <a href="/images/galleries/location/2.jpg" data-size="1200x800"><img src="/images/galleries/location/2_thumb.jpg"
                  alt="" class="img-fluid" /></a>
            </div>
            <div class="col col-sm-4">
              <a href="/images/galleries/location/3.jpg" data-size="1200x800"><img src="/images/galleries/location/3_thumb.jpg"
                  alt="" class="img-fluid" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>