<section class="">
  <!-- <div class="layer layer-img b-lazy" data-src="/images/backgrounds/plusfitness_streetview.jpg"></div> -->
  <div class="layer layer-img" id="snazzyMap"></div>
  <!-- <div class="layer layer-gradient layer-gradient-dark"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-2 col-sm-push-5">
        <div class="well">
          <h2>Where to find me</h2>
          <p class="address">
            <a href="https://www.plusfitness.com.au/gyms/manly/" target="_blank">Plus Fitness Manly</a><br />
            29-33 Pittwater Rd<br />
            Manly NSW 2095
          </p>
          <p>
            Please ring the outside bell.
          </p>
        </div>
      </div>
      <!-- <div class="col-sm-5 col-sm-pull-7">
        <div class="mapFrame">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3315.640493408693!2d151.2864403!3d-33.7957808!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xce83e0a385c8ab89!2sPlus+Fitness+Gym+Manly!5e0!3m2!1sen!2sau!4v1552093601629"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <a href="https://goo.gl/maps/qCHWpr456bq" target="googlemap"></a>
        </div>
      </div> -->
    </div>
  </div>
</section>