<section class="-lightOnDark">
  <div
    class="layer layer-img b-lazy"
    data-src="/images/section-bgs/plusfitness_streetview.png"
  ></div>
  <div class="layer layer-gradient layer-gradient-dark-reverse"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-2 col-sm-push-5">
        <h2>Location</h2>
        <p>
          Please ring the bell at
          <a href="https://www.plusfitness.com.au/gyms/manly/" target="_blank"
            >Plus Fitness Manly</a
          >
        </p>
        <p class="strong">
          29-33 Pittwater Rd<br />
          Manly NSW 2095
        </p>
      </div>
      <div class="col-sm-5 col-sm-pull-7">
        <div class="mapFrame">
          <iframe
            src="https://www.google.com/maps/embed?pb=!4v1551929345616!6m8!1m7!1ssReJ2roVBxEQyumFLdlUEw!2m2!1d-33.79454016921562!2d151.2852959145297!3f281.06!4f0!5f0.7820865974627469"
            width="600"
            height="450"
            width="100%"
            height="100%"
            frameborder="0"
            style="border:0"
            allowfullscreen
          ></iframe>
          <a href="https://goo.gl/maps/tjrT7ynZwY82" target="googlemap"></a>
        </div>
        <!-- .mapFrame -->
      </div>
      <!-- .col-sm-4 -->
    </div>
  </div>
</section>
