<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="images/icons/pilates.png" class="img-responsive" alt="" />
        <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat quo
          fugit voluptates, dolore perferendis nulla placeat eligendi pariatur
          obcaecati enim nam molestiae et reprehenderit! Nobis enim rem nulla.
          Consequatur, sequi.
        </p>
      </div>
      <div class="col-sm-4">
        <img src="images/icons/pilates.png" class="img-responsive" alt="" />
        <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat quo
          fugit voluptates, dolore perferendis nulla placeat eligendi pariatur
          obcaecati enim nam molestiae et reprehenderit! Nobis enim rem nulla.
          Consequatur, sequi.
        </p>
      </div>
      <div class="col-sm-4">
        <img src="images/icons/pilates.png" class="img-responsive" alt="" />
        <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat quo
          fugit voluptates, dolore perferendis nulla placeat eligendi pariatur
          obcaecati enim nam molestiae et reprehenderit! Nobis enim rem nulla.
          Consequatur, sequi.
        </p>
      </div>
    </div>
  </div>
</section>
