<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="sectionHeading">A multi-disciplinary approach</h2>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit
          placeat minus necessitatibus facere veniam delectus natus illo?
          Aspernatur dolorum, consequatur, omnis exercitationem atque eligendi
          mollitia vel culpa, explicabo magni nam.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 businessFeature">
        <img src="images/icons/pilates.png" class="img-responsive" alt="" />
        <h2>JEMS</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat quo
          fugit voluptates, dolore perferendis nulla placeat eligendi pariatur
          obcaecati enim nam molestiae et reprehenderit! Nobis enim rem nulla.
          Consequatur, sequi.
        </p>
      </div>
      <div class="col-sm-4 businessFeature">
        <img src="images/icons/pilates.png" class="img-responsive" alt="" />
        <h2>Pilates</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat quo
          fugit voluptates, dolore perferendis nulla placeat eligendi pariatur
          obcaecati enim nam molestiae et reprehenderit! Nobis enim rem nulla.
          Consequatur, sequi.
        </p>
      </div>
      <div class="col-sm-4 businessFeature">
        <img src="images/icons/pilates.png" class="img-responsive" alt="" />
        <h2>Massage</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat quo
          fugit voluptates, dolore perferendis nulla placeat eligendi pariatur
          obcaecati enim nam molestiae et reprehenderit! Nobis enim rem nulla.
          Consequatur, sequi.
        </p>
      </div>
    </div>
  </div>
</section>
