<section>
  <div class="container">
    <div class="row-slim">
      <h2 class="sectionHeading">A multi-disciplinary approach</h2>
      <p>
        ithrive is an integrated massage and movement therapy practice. Laura
        draws from a diverse range of innovative and effective methods,
        ensuring that the treatment you receive is as unique as you are.
      </p>
    </div>
    <div class="features">
      <div class="feature">
        <img src="images/icons/dancer-3.png" class="img-responsive" alt="" />
        <h2>JEMS®</h2>
        <p>
          JEMS® is a movement enhancement approach which targets the body’s
          efficiency of motion, and addresses physical performance as well as
          injury prevention and rehabilitation.
        </p>
        <p>
          <i>
            “The JEMS mission is to enable people of all backgrounds, ages and
            levels of physical ability to learn the art of working with their
            body instead of against it, to have confidence in their bodies, and
            to reclaim and enjoy the activities that matter most to them.” -
            JEMS creator Joanne Elphinston
          </i>
        </p>
      </div>
      <div class="feature">
        <img src="images/icons/spine-black-on-white.png" class="img-responsive" alt="" />
        <h2>OOV®</h2>
        <p>
          The Oov® is both a diagnostic and a training tool. It’s a supportive
          device that facilitates decompression and optimal alignment of the
          spine while at the same time providing a multi-planar challenge to
          stability. Oov training promotes rapid change by providing instant
          feedback.
        </p>
      </div>
      <div class="feature">
        <img src="images/icons/radiate.png" class="img-responsive" alt="" />
        <h2>Be Activated</h2>
        <p>
          This system uses muscle strength tests to asses and then guide a form
          of myofascial release that aims to restore an expansive, centre-out
          movement strategy. It addresses breathing restrictions and promotes
          optimal interaction between diaphragm, psoas and gluteal muscles.
        </p>
      </div>
      <div class="feature">
        <img src="images/icons/pilates-3.png" class="img-responsive" alt="" />
        <h2>Pilates</h2>
        <p>
          Promotes balance in the body through development of core strength and
          flexibility with an emphasis on healthy spine mechanics.
        </p>
      </div>
      <div class="feature">
        <img src="images/icons/massage.png" class="img-responsive" alt="" />
        <h2>Remedial Massage</h2>
        <p>
          Massage and mobilisation of soft tissues of the body, i.e. muscles,
          fascia, tendons, ligaments and joints. May include techniques such as
          trigger point therapy, myofascial release, joint mobilisation and
          muscle energy technique.
        </p>
      </div>
    </div>
  </div>
</section>