<section class="-lightOnDark">
  <div
    class="layer layer-img b-lazy"
    data-src="/images/section-bgs/about-2.jpg"
  ></div>
  <div class="layer layer-gradient layer-gradient-dark"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div>
          <img
            src="/images/logo-splash.png"
            style="max-width:400px; margin-bottom: 40px;"
          />
        </div>
        <h1>Coming soon to Manly</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quam
          iure doloremque atque numquam veniam commodi quo dolore reiciendis
          corrupti iusto similique quidem, modi iste delectus ullam eos
          molestiae nostrum.
        </p>
      </div>
    </div>
  </div>
</section>
