<section class="-lightOnDark">
  <div class="layer layer-img b-lazy" data-src="/images/backgrounds/person-jumping.jpg"></div>
  <div class="layer layer-gradient layer-gradient-dark"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div>
          <img src="/images/logos/ithrive-logo-white.png" style="width:400px; max-width:100%; margin-bottom: 40px;" />
        </div>
        <h1 class="hero">Bodywork & movement therapy for work, sport and life</h1>
        <p>
          A unique, therapeutic approach to help you get back on track after
          injury, perform at your best or simply do more of what you love.
        </p>
        <p style="margin:30px 0 10px;">
          <a href="#book" class="btn -light -lg -outline">Book Appointment &gt;</a>
        </p>
      </div>
    </div>
  </div>
</section>