<footer>
	<div class="container">
		<div class="row">
			<div class="col">
				<a href="/"><img src="/images/logo-footer.png" class="footer_logo" alt="" /></a>
			</div><!-- .col-sm-6 -->
			<div class="col">
				<p class="footer_social">
					<a href="mailto:laura@ithrive.net.au">laura@ithrive.net.au</a>
					<a href="{{ site.social.links[0] }}" target="_blank">/iThriveManly</a>
					<!-- <i class="fa fa-linkedin"></i> -->
					<!-- <i class="fa fa-twitter"></i> -->
					<!-- <i class="fa fa-instagram"></i> -->
				</p><!-- .footer_social -->
			</div><!-- .col-sm-6 -->
		</div><!-- .row -->
	</div><!-- .container -->
</footer>