<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a href="/"><img src="/images/logo-banner.png" class="navbar_logo" alt="" /></a> -->
      <a href="/"><img class="navbar_logo" src="{% include inline-icon-data.html %}" /></a>
    </div>
  </div>
</nav>