<nav class="navbar -hide" data-scroll-header id="navbar">
  <div class="container">
    <span class="navbarBrand">
      <a href="#top"><img class="navbar_logo" src="{% include inline-icon-data.html %}" /></a>
    </span>
    <ul class="navbarLinks">
      <li>
        <a href="#service">Service</a>
        <!-- <a href="#about">About me</a> -->
        <a href="#location">Location</a>
        <a href="#posts">News</a>
        <a href="#book" class="btn -dark">Book now</a>
      </li>
    </ul>
  </div>
</nav>