<footer>
	<div class="container">
		<div class="row">
			<div class="col">
				<a href="/"><img src="/images/logos/ithrive-logo-white.png" class="footer_logo" alt="" /></a>
			</div><!-- .col-sm-6 -->
			<div class="col">
				<p class="footer_social">
					<a href="mailto:laura@ithrive.net.au">laura@ithrive.net.au <span class="icon icon-mail" /></a>
					<a href="{{ site.social.links[0] }}" target="_blank">/iThriveManly <span class="icon icon-facebook" /></a>
				</p><!-- .footer_social -->
			</div><!-- .col-sm-6 -->
		</div><!-- .row -->
	</div><!-- .container -->
</footer>