.navbar {
	background-color: rgba(#fff, 0.9);
	// border-bottom: 1px solid rgba(#000, 0.1);

	img.navbar_logo {
		height: 50px;
		margin-right: 20px;
	}

	a.navbar_blog {
		border: solid 1px $gray-light;
		height: 40px;
		margin-top: 5px;
		border-radius: 20px;
		line-height: 40px;
		padding: 0 20px;
	}

	a {
		color: $gray;
	}
	.navbar-toggle .icon-bar {
		background-color: $gray;
		margin-right: 0;
	}
	ul, li {
		padding: 0;
		margin: 0;
	}
	li.active {
		a {
			color: #fff;
			background-color: $brand-primary;
			&.navbar_blog {
				border-color: darken($brand-primary, 20%);
			}
		}
	}
}

.navbar-offset {
	@media (max-width:$screen-xs-max) {
		height: 50px;
	}
}