// @import "~font-awesome/scss/font-awesome.scss"; 

@import "~photoswipe/src/css/main";
// @import "~photoswipe/src/css/default-skin/default-skin";

@import "src/variables";
@import "src/defaults";
@import "src/bootstrap";
@import "src/blazy";
@import "src/nav";
@import "src/footer";
@import "src/icomoon";
@import "src/buttons";
@import "src/posts";

%altFont {
  letter-spacing: 0.02em;
  line-height: 1.2em;
}

a[target="_blank"] {
  color: map-get($theme-colors, danger);

  &::after {
    font-family: FontAwesome;
    // content: "\00a0"+ $fa-var-external-link;
    font-size: 80%;
  }
}

a[href*="facebook"] {
  &::after {
    font-family: FontAwesome;
    // content: "\00a0"+ $fa-var-facebook-square;
    font-size: 80%;
  }
}

a[href^="mailto:"] {
  text-decoration: none !important;

  &::after {
    font-family: FontAwesome;
    // content: "\00a0"+ $fa-var-envelope-o;
    font-size: 80%;
    position: relative;
  }
}


@mixin padSection($top, $bottom) {

  >.container-fluid,
  >.container {
    padding-top: $top;
    padding-bottom: $bottom;

    @include media-breakpoint-down(xs) {
      $minPad: 80px;
      padding-top: $minPad + 10px;
      padding-bottom: $minPad;
    }
  }
}

@include media-breakpoint-down(sm) {
  section {
    >.container-fluid,
    >.container {
      padding-left: $grid-gutter-width / 2;
      padding-right: $grid-gutter-width / 2;
    }
  }
}

h1,h2,h3,h4,h5 {
  &.hero {
    font-size: 30pt;
    font-weight: 300;
    margin: 0 0 0.3em 0;
    @include media-breakpoint-down(sm) {
      font-size: 24pt;
    }
    @include media-breakpoint-down(xs) {
      font-size: 20pt;
    }

    &.-section {
      opacity: 0.7;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

section {
  @include padSection(200px, 200px);
  position: relative;
  overflow: hidden;
  margin-bottom: -1px;
  border-bottom: 1px solid rgba(#000, 0.2);

  >* {
    position: relative;
  }
}

.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &-img {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  &-inset {
    box-shadow: inset 0 0 5px rgba(#000, 0.2);
  }

  @include media-breakpoint-up(sm) {
    &-gradient {
      &-light {
        background: -moz-linear-gradient(left,
          rgba(#fff, 1) 0%,
          rgba(#fff, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left,
          rgba(#fff, 1) 0%,
          rgba(#fff, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,
          rgba(#fff, 1) 0%,
          rgba(#fff, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
        /* IE6-9 */
      }

      &-light-reverse {
        background: -moz-linear-gradient(right,
          rgba(#fff, 1) 0%,
          rgba(#fff, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(right,
          rgba(#fff, 1) 0%,
          rgba(#fff, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to left,
          rgba(#fff, 1) 0%,
          rgba(#fff, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
        /* IE6-9 */
      }

      &-dark {
        background: -moz-linear-gradient(left,
          rgba(#000, 0.5) 0%,
          rgba(#000, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left,
          rgba(#000, 0.5) 0%,
          rgba(#000, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,
          rgba(#000, 0.5) 0%,
          rgba(#000, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);
        /* IE6-9 */
      }

      &-dark-reverse {
        background: -moz-linear-gradient(right,
          rgba(#000, 0.5) 0%,
          rgba(#000, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(right,
          rgba(#000, 0.5) 0%,
          rgba(#000, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to left,
          rgba(#000, 0.5) 0%,
          rgba(#000, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=1);
        /* IE6-9 */
      }
    }
  }
}

section {
  .layer-img {
    @include media-breakpoint-down(xs) {
      position: relative;
      width: 100%;
      // margin: 6px auto -20px auto;
      height: 240px;
    }
  }

  &.-lightOnDark {
    @extend %lightText;
    background-color: #aaa;
  }

  &.-splash {
    @include padSection(400px, 40px);
    @extend %lightText;

    @include media-breakpoint-down(xs) {
      text-align: center;
      background-color: map-get($theme-colors, primary);
    }

    .logo {
      width: 200px;
      max-width: 100%;
      margin-top: 20px;

      @include media-breakpoint-down(xs) {
        margin-left: 0px;
        max-width: 80px;
      }
    }

    h1 {
      font-size: 50pt;
      line-height: 1em;
      margin-bottom: 20px;

      @include media-breakpoint-down(xs) {
        font-size: 30pt;
      }
    }

    p {
      font-size: 20pt;

      @include media-breakpoint-down(xs) {
        font-size: 16pt;
      }
    }
  }
}

.well-product {
  background: map-get($theme-colors, primary);

  * {
    color: #fff;
  }
}

.cost {
  @include clearfix;
  // text-align: right;
  font-size: 15pt;
  margin-top: 40px;
  // border-top: 1px solid rgba(#fff,0.1);

  &+.cost {
    margin-top: 20px;
  }

  .cost_details {
    // color: $gray-light;
    line-height: 1em;
    color: rgba(#fff, 0.6);
  }
}

.price {
  @extend %altFont;
  font-size: 30pt;
  font-weight: 600;
  float: right;
  // padding-top: 0.2em;

  small {
    font-size: 12pt;
  }
}

%lightText {
  color: rgba(#eee, 0.9);

  a {
    color: #fff;
    text-decoration: underline;
    font-weight: 700;

    &.btn {
      text-decoration: none;
    }
  }
}

.productLogo {
  margin: 0 auto;
  width: 260px;
  height: 200px;
  position: relative;

  .layer-img {
    background-size: contain;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

// Below the logo
.tagline {
  @extend %altFont;
  font-size: 14pt;
  color: $gray-light;
}

.postListing {
  .postListing_heading {
    text-align: center;
    margin: 50px 0;
    color: $gray-light;
  }

  .postListing_posts {
    margin-bottom: 100px;
  }
}

// .control-label {
// 	text-align: center;
// 	display: block;
// 	color: $gray-light;
// 	font-weight: 300;

// 	&.col-sm-12 {
// 		text-align: left;
// 		padding-bottom: 4px;
// 	}
// }

.form_heading {
  font-size: 14pt;
  color: $gray-light;
  // margin: 22px 0 8px 0;

  @include media-breakpoint-down(xs) {
    text-align: center;
  }
}

fieldset+fieldset {
  // margin-top: 20px;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid $gray-lighter;
}

.section-comingSoon {
  text-align: center;
}

.comments {
  padding-top: 10px;
  border-top: 1px solid $gray-lighter;
  margin: 20px 0;
}

.postSideBar {
  padding: 100px 0 0 50px;

  @include media-breakpoint-down(xs) {
    padding: 40px 0 0 0;
  }

  .sideBar_heading {
    @extend %altFont;
    text-align: center;
    margin: 10px 0 30px 0;
  }
}

aside.block {
  $inset: 20px;
  padding-left: $inset;

  .block_heading {
    // border-bottom: 1px solid $gray-lighter;
    margin: 20px 0 20px (-$inset);
    color: $gray-light;
    font-size: 12pt;
  }
}

@mixin sideImg($size) {
  article {
    padding-left: $size + 20px;
  }

  .entry_image {
    position: absolute;
    left: 0;
    top: 0;
    width: $size;
  }
}

article {
  padding-top: 120px;
  position: relative;
}

article.knowledgeBase {
  .entry_title {
    font-size: 30pt;
    margin: 0 0 5px 0;
  }

  .entry_image {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .entry_defintion {
    text-style: italic;
    font-size: 16pt;
    padding: 10px 0;
    // border-top: 1px solid $gray-lighter;
    // border-bottom: 1px solid $gray-lighter;
    // margin-bottom: 40px;
    font-style: italic;
  }

  .entry_body {
    font-size: 14pt;
  }
}

.keyword,
a.keyword {
  $color: #57a6bf;
  color: $color;

  &:hover {
    &::after {
      color: $color;
    }
  }

  &::after {
    content: "\f05a";
    font-family: "FontAwesome";
    padding-left: 2px;
    color: lighten(#57a6bf, 30%);
    font-size: 80%;
    transition: color 0.5s;
  }
}

.keywordPopover {
  .popover_title {
    font-size: 13pt;
    font-weight: 500;
    margin: 5px 0;
    border-bottom: 1px solid $gray-light;
    padding-bottom: 5px;
    color: $gray;
  }

  .popover_image {
    height: 70px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .subtle {
    text-align: right;
    color: $gray-light;
    text-transform: uppercase;
    font-size: 7pt;
  }
}

.section-quote {
  // @include padSection(80px, 80px);
  text-align: center;
  line-height: 1.4em;
  text-align: center;

  p {
    font-size: 18pt;

    @include media-breakpoint-down(xs) {
      font-size: 14pt;
    }
  }

  p+p {
    margin-top: 30px;
  }
}

.well-announce {
  font-size: 130%;
  text-align: center;
  border: solid 2px lighten(map-get($theme-colors, primary), 30%);
  background: transparent;
  color: lighten(map-get($theme-colors, primary), 15%);
  box-shadow: none;
  // background: lighten(map-get($theme-colors, primary), 40%);

  strong {
    @extend %altFont;
    font-size: 120%;
  }
}

.well {
  >h3 {
    margin-top: 0;
  }
}

.strong {
  font-size: 160%;
  line-height: 1.4em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.mapFrame {
  position: relative;
  height: 350px;

  iframe {}

  a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.locations {
  strong {
    font-size: 120%;
    font-weight: 400;
    line-height: 1.5em;
  }
}

.hours {
  // border-bottom: 1px solid $gray;
  border: solid 2px lighten(map-get($theme-colors, primary), 30%);
  color: map-get($theme-colors, primary);
  border-radius: 5px;
  display: inline-block;
  padding: 0.2em 0.5em;
  margin: 20px 0;

  table {
    width: 340px;
    max-width: 100%;
  }

  tr {
    // border-top: 1px solid $gray;

    td {
      font-size: 12pt;
      line-height: 1.3em;
      padding: 0.4em 0;

      &:last-child {
        text-align: right;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .indent-sm {
    padding-left: 40px;
  }
}

.mapImg {
  border-radius: 50%;
  border: solid 1px rgba(#000, 0.1);
  max-width: 100%;
  display: block;
}

.postHeader {
  position: relative;
  height: 500px;

  @include media-breakpoint-down(xs) {
    height: 200px;
  }
}

h4+ul {
  margin-top: -10px;
}

.features {
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-around;
  justify-content: center;
}

.feature {
  display: inline-block;
  max-width: 300px;
  margin: 30px 20px;
  text-align: left;

  img {
    max-height: 120px;
  }
}

.row-slim {
  max-width: 600px;
  margin: 0 auto;
}

.well {
  // @include media-breakpoint-up(sm) {
    background-color: rgba(map-get($theme-colors, background), 0.9);
    padding: $padding-well;
    box-shadow: 0 0 5px rgba(#000, 0.1);
  // }
}

.address {
  font-size: 150%;
  padding: $padding-well 0;
}

.pswp__top-bar,
.pswp__ui {
  display: none;
}

a.viewMore {
  display: block;
  text-align: center;
  // border-top: $border;
  font-size: 80%;
  line-height: 2em;
  margin-bottom: $grid-gutter-width;
}