$icon-font-path: "/fonts/";
$theme-font-path: "/fonts/";

$brand-primary: rgb(111, 188, 70);
$brand-primary-compliment: #fff;
$brand-info: yellow;
$gray-light: #bbb;

$grid-gutter-width: 10px;

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "nav";
@import "footer";

body {
	font-family: 'Quicksand', sans-serif;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
}

a[target="_blank"] {
	color: $brand-danger;
	&::after {
		font-family: FontAwesome;
		content: $fa-var-external-link;
		margin-left: 0.2em;
		font-size: 80%;
	}
}

%altFont {
	font-family: 'Gloria Hallelujah', serif;
	letter-spacing: 0.02em;
	line-height: 1.2em;
}

h1 {
	@extend %altFont;
}

p, li {
	font-size: 12pt;
	line-height: 1.1em;

	em {
		// background: yellow;
	}	
	strong {
		font-weight: 900;
	}
}

ul {
	margin: 2em 0;
}
li {
	padding: 0.4em;
}

a:hover {
	text-decoration: none;
}

// Hide conditional/angular elements until ready
.tmp-hide {
	display: none;
}

// Lazy load images
.b-lazy {
	transition: opacity 500ms ease-in-out;
  opacity: 0;
}
.b-lazy.b-loaded {
	opacity: 1;
}


@mixin padSection($top, $bottom) {
	> .container-fluid,
	> .container {
		padding-top: $top;
		padding-bottom: $bottom;

		@media (max-width: $screen-xs-max) {
			padding-top: 40px;
			padding-bottom: 50px;
		}
	}
}

.section {
	@include padSection(140px, 140px);
	position: relative;
	overflow: hidden;

	> * {
		position: relative;
	}

	.section_title {
		@extend %altFont;
		font-size: 30pt;
		margin-bottom: 20px;
		margin-top: 0;
		
		@media (max-width: $screen-sm-max) {
			font-size: 24pt;
		}
		@media (max-width: $screen-xs-max) {
			font-size: 20pt;
		}
	}
	.section_title-full {
		text-align: center;
		margin-bottom: 40px;
		
		@media (max-width: $screen-sm-max) {
			font-size: 24pt;
		}
		@media (max-width: $screen-xs-max) {
			font-size: 20pt;
		}
	}
}

.layer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	&-img {
		background-size: cover;
		background-position: 50% 50%;

		&-inset {
			box-shadow: inset 0 0 5px rgba(#000,0.1);
		}

		@media (max-width: $screen-xs-max) {
			position: relative;
			width: 100%;
			height: 200px;
		}
	}

	&-gradient {
		&-light {
			background: -moz-linear-gradient(left, rgba(#fff,1) 0%, rgba(#fff,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, rgba(#fff,1) 0%,rgba(#fff,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, rgba(#fff,1) 0%,rgba(#fff,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
		}
		&-light-reverse {
			background: -moz-linear-gradient(right, rgba(#fff,1) 0%, rgba(#fff,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(right, rgba(#fff,1) 0%,rgba(#fff,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to left, rgba(#fff,1) 0%,rgba(#fff,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
		}
		&-dark {
			background: -moz-linear-gradient(left, rgba(#000, 0.5) 0%, rgba(#000,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, rgba(#000, 0.5) 0%,rgba(#000,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, rgba(#000, 0.5) 0%,rgba(#000,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
		}
		&-dark-reverse {
			background: -moz-linear-gradient(right, rgba(#000, 0.5) 0%, rgba(#000,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(right, rgba(#000, 0.5) 0%,rgba(#000,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to left, rgba(#000, 0.5) 0%,rgba(#000,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
		}
	}
}

.well-product {
	background: $brand-primary;
	* { 
		color: #fff; 
	}
}

.cost {
	text-align: right;
	font-size: 12pt;
	margin-top: 40px;
	border-top: 1px solid rgba(#fff,0.1);

	& + .cost {
		margin-top: 15px;
	}

	.cost_price {
		@extend %altFont;
		font-size: 30pt;
		font-weight: 600;
		// color: $brand-primary;

		small {
			font-size: 12pt;
		}
	}
	.cost_details {
		// color: $gray-light;
		line-height: 1em;
		color: rgba(#fff,0.6);
	}
}

%lightText {
	color: #fff;
	a {
		color: #fff;
		text-decoration: underline;

		&.btn {
			text-decoration: none;
		}
	}
}

.section-lightOnDark {
	@extend %lightText;
	background-color: #aaa;
}

.section-splash {
	@include padSection(400px, 40px);
	text-shadow: 0 0 4px rgba(#000,0.5);
	
	.logo {
		width: 200px;
		max-width: 100%;
		margin-top: 20px;
		// margin-left: 30px;

		@media (max-width: $screen-xs-max) {
			margin-left: 0px;
		}
	}
	h1 {
		font-size: 50pt;
		line-height: 1em;
		margin-bottom: 20px;
		// border-bottom: 1px solid rgba(#fff,0.6);
		
		@media (max-width: $screen-xs-max) {
			font-size: 30pt;
		}
	}
	p {
		font-size: 20pt;
		@media (max-width: $screen-xs-max) {
			font-size: 16pt;
		}
	}
}

.section-aboutMe {
	@include padSection(300px, 100px);
	@extend %lightText;
	background-color: rgb(225,125,70);

	> h3 {
		color: $brand-primary;
	}
}

.section-community {
	// @include padSection(150px, 150px);
	// @extend %lightText;
	background-color: rgb(250, 200, 50);

	.btn-lg {
		margin-top: 20px;
	}
}

.section-product {
	@include padSection(90px, 90px);
	text-align: center;

	.product_logo {
		text-align: center;
		margin: 20px auto 20px auto;

		img {
			width: 260px;
			max-width: 100%;
			margin-bottom: 10px;
		}

		p {
			@extend %altFont;
			font-size: 14pt;
			color: $gray-light;
		}
	}

// Preview of the service, as displayed on the homepage
	.product_services {
		margin: 40px 0;
		> h3 {
			// color: $brand-primary;
			margin-bottom: 15px;
			color: $gray-light;
		}
	}
}

// Below the logo
.tagline {
	@extend %altFont;
}


.btn {
	&-outline {
		border: 1px #000 solid;
		color: #000;
		background-color: transparent;

		&.btn-primary {
			border: 1px $brand-primary solid;
			color: $brand-primary;
			background-color: transparent;
		}
		&.btn-light {
			border: 1px #fff solid;
			color: #fff;
			background-color: transparent;
		}
	}
}

// Preview of the service, as displayed on the homepage
.servicePreview {
	$size: 180px;
	display: inline-block;
	margin: 0 5px 25px 5px;
	width: $size;
	vertical-align: top;

	.preview_img {
		width: $size;
		height: $size;
		background-size: cover;
		background-position: 50%;
		background-color: $brand-primary;
		position: relative;
		display: inline-block;

		&:after {
			content: '>';
			$btn-size: 40px;
			width: $btn-size;
			height: $btn-size;
			border-radius: 50%;
			background-color: $brand-primary;
			color: #fff;
			position: absolute;
			right: -7px;
			bottom: -7px;
			display: inline-block;
			font-size: $btn-size*0.7;
			line-height: $btn-size;
			vertical-align: middle;
			text-align: center;
		}
		// opacity: 0.5;
		// transition: opacity 0.5s;
	}

	@media (max-width: $screen-xs-max) {
		width: 240px;

		.preview_img {
			width: 240px;
			height: 240px;
		}
	}

	.service_name {
		@extend %altFont;
		font-size: 14pt;
		font-weight: 800;
		margin: 5px 0;
		// background-color: $brand-primary;
		// color: $brand-primary-compliment;
		// padding: 5px 0;
	}
	&:hover {
		img {
			opacity: 1;
		}
	}
	p {
		color: #aaa;
		font-size: 10pt;
		@media (min-width: $screen-sm-min) {
			min-height: 4em;
		}
	}
}

article.post {
	padding: 50px 0;

	header {
		margin: 20px 0;
		border-bottom: 1px solid $gray-lighter;
	}
	.post_body {
		font-size: 12pt;
	}
	.post_details {
		color: $gray-light;
	}
}

.postListing {
	.postListing_heading {
		text-align: center;
		margin: 50px 0;
		color: $gray-light;
	}
	.postListing_posts {
		margin-bottom: 100px;
	}
}

.postPreview {
	@include clearfix;

	.post_title {
		margin: 0;
	}
	a.post_more {
		float: right;
	}
	&-listing {
		margin-bottom: 20px;

		header {
			border-bottom: 1px solid $gray-lighter;
			padding-bottom: 5px;
		}
		.post_excerpt {
			padding-top: 10px;
			color: $gray-light;
		}
	}
	&-sidebar {
		margin-bottom: 20px;

		.post_title {
			font-size: 14pt;
		}
		.post_excerpt {
			font-size: 10pt;
			color: $gray-light;
			line-height: 1.2em;
		}
		.post_date {
			font-size: 9pt;
		}
		header {
			margin: 0 0 10px 0;
		}
	}
}

.section-inquiry {
	// @extend %lightText; 
	background: $gray-lighter;
	.well {
		min-height: 300px;
	}
}

.section-gray {
	background: $gray-lighter;
}

// .control-label {
// 	text-align: center;
// 	display: block;
// 	color: $gray-light;
// 	font-weight: 300;

// 	&.col-sm-12 {
// 		text-align: left;
// 		padding-bottom: 4px;
// 	}
// }

.form_heading {
	font-size: 14pt;
	color: $gray-light;
	// margin: 22px 0 8px 0;

	@media (max-width: $screen-xs-max) {
		text-align: center;
	}
}
fieldset + fieldset {
	// margin-top: 20px;
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid $gray-lighter;
}

.section-comingSoon {
	text-align: center;
}

.comments {
	padding-top: 10px;
	border-top: 1px solid $gray-lighter;
	margin: 20px 0;
}

.postSideBar {
	padding: 100px 0 0 50px;
	@media (max-width: $screen-xs-max) {
		padding: 40px 0 0 0;
	}
	.sideBar_heading {
		@extend %altFont;
		text-align: center;
		margin: 10px 0 30px 0;
	}
}

aside.block {
	$inset: 20px;
	padding-left: $inset;

	.block_heading {
		// border-bottom: 1px solid $gray-lighter;
		margin: 20px 0 20px (-$inset);
		color: $gray-light;
		font-size: 12pt;
	}
}

article.knowledgeBase {
	padding: 50px 0 100px 0;

	.article_heading {
		font-size: 30pt;
		padding-bottom: 20px;
		margin-bottom: 10px;
		border-bottom: 1px solid $gray-lighter;
	}
	.article_excerpt {
		font-size: 14pt;
	}
	.article_shortVersion {
		text-style: italic;
		font-size: 18pt;
		padding: 10px 0;
		border-bottom: 1px solid $gray-lighter;
		margin-bottom: 40px;

		label {
			font-size: 10pt;
			margin-right: 15px;
			font-weight: 800;
			// line-height: 1.5em;
			vertical-align: middle;
			// text-decoration: underline;
			padding-bottom: 3px;
			color: $gray-light;
		}
	}
}

.keyword {
	$color: #57a6bf;
	color: $color;
	
	&:hover {
		&::after {
			color: $color;
		}
	}

	&::after {
		content: "\f05a";
		font-family: 'FontAwesome';
		padding-left: 2px;
		color: lighten(#57a6bf, 30%);
		font-size: 80%;
		transition: color 0.5s;
	}
}

.keywordPopover {
	.popover_image {
		height: 70px;
		background-size: contain;
		background-position: 50%;
		background-repeat: no-repeat;
	}
}

.section-quote {
	// @include padSection(80px, 80px);
	text-align: center;
	line-height: 1.4em;
	text-align: center;

	p {
		font-size: 18pt;
		margin-bottom: 30px;
	}
}

.well-announce {
	font-size: 130%;
	text-align: center;
	strong {
		@extend %altFont;
		font-size: 120%;
	}
	background: lighten($brand-primary, 40%);
}
.well {
	> h3 {
		margin-top: 0;
	}
}

blockquote {
	font-style: italic;
	padding: 2em;
	position: relative;

	&::before, &::after {
		font-size: 400%;
		opacity: 0.5;
	}

	&::before {
		content: "“";
		position: absolute;
		top: 0;
		left: 0;
	}
	&::after {
		content: "”";
		position: absolute;
		bottom: -20px;
		right: 20px;
	}
}

.address {
	font-size: 120%;
	line-height: 1.4em;
	padding: 20px 10px;
}