<!DOCTYPE html>
<html>
<head>
  <base href="/" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    {% include build/main.css %}
  </style>

  {% include partials/favicon.html %}
  {% include partials/shim.html %}
  {% include partials/snazzyMaps.html %}
  {% include partials/gtag-head.html %}
  {% include partials/shareThis-head.html %}
  {% seo %}
</head>

<body>
  {% include partials/gtag-body.html %}
  {{ content }}
  {% include nav.html %}
  {% include footer.html %}
  {% include partials/blazy.html %}
  {% include partials/photoSwipe.html %}
  {% include partials/autohideNav.html %}
  
  <script id="dsq-count-scr" src="//{{ site.disqusShortName }}.disqus.com/count.js" async></script>
  <script type="text/javascript" src="/build/scripts.js" async></script>
</body>
</html>