---
layout: default
---


<div class="container-fluid">
	<article class="knowledgeBase">
		<div class="row">
			{% if page.image %}
				<div class="col-sm-3 col-sm-offset-1">
					<img src="{{ page.image }}" class="img-responsive" />
				</div><!-- .col-sm-4 -->
			{% else %}
				<div class="col-sm-2"></div><!-- .col-sm-4 -->
			{% endif %}
			<div class="col-sm-6 col-sm-offset-1">
				<header>
					<h1 class="entry_title">{{ page.title }}</h1>
					<div class="entry_defintion">
						{{ page.description }}
					</div><!-- .acticle_defintion -->
				</header>
				<div class="entry_body">
					{{ content }}
				</div><!-- .article_body -->
			</div><!-- .col-sm-8 col-sm-2 -->
		</div><!-- .row -->
	</article>
</div><!-- .container -->