---
layout: 'default'
---

<div class="navbar-offset"></div>

{% if page.image %}
<section class="postHeader">
	<div class="layer layer-img b-lazy" data-src="{{ page.image }}"></div>
</section>
{% endif %}

<div class="container">
	<div class="row">
		<div class="col col-sm-8 col-sm-offset-1">
			<article class="post">
				<!-- <a href="/posts" class="btn btn-outline btn-primary"><i class="fa fa-angle-left"></i> Back</a> -->
				<header>
					<h1 class="hero">{{ page.title }}</h1>
					<p class="post_details">
						<span class="post_date">{{ page.date | date: "%b %d, %Y" }}</span>
					</p>
					<div class="sharethis-inline-share-buttons"></div>
				</header>
				<div class="post_body" allow-keywords>
					{{ content }}
				</div>
			</article>
			{% include partials/comments.html %}
		</div>

		<div class="col col-sm-1 postSideBar">
			<!-- <h3 class="sideBar_heading">Read more</h3> -->
			{% if page.next %}
			<aside class="block">
				<h4 class="block_heading"><i class="fa fa-angle-up"></i> More recent</h4>
				{% include posts/post-sidebar.html post=page.next %}
			</aside>
			{% endif %}
			{% if page.previous %}
			<aside class="block">
				<h4 class="block_heading"><i class="fa fa-angle-down"></i> Previously</h4>
				{% include posts/post-sidebar.html post=page.previous %}
			</aside>
			{% endif %}
		</div>
	</div>
</div>