footer {
	background: map-get($theme-colors, primary);
	color: map-get($theme-colors, primary-compliment);
	padding: 70px 0;

	@include media-breakpoint-down(xs) {
		text-align: center;
	}

	.footer_logo {
		opacity: 0.4;
		max-width: 100%;
		width: 480px;
		transition: opacity 0.5s;

		@include media-breakpoint-down(xs) {
			width: 200px;
		}
	}

	&:hover {
		.footer_logo {
			opacity: 1;
		}
	}

	.footer_social {
		text-align: right;
		font-size: 24pt;
		line-height: 1.2em;

		@include media-breakpoint-down(sm) {
			font-size: 18pt;
		}

		@include media-breakpoint-down(xs) {
			text-align: center;
		}

		a {
			color: rgba(map-get($theme-colors, primary-compliment), 0.6);
			display: block;

			&:hover {
				color: map-get($theme-colors, primary-compliment);
			}
		}

		.fa {
			margin-left: 10px;
		}
	}

	.footer_mailingList {
		margin: 20px 0;

		form {
			position: relative;

			.form-group {
				margin-bottom: 0px;
			}
		}

		.btn {
			border: solid 1px map-get($theme-colors, primary-compliment);
		}
	}
}