@import "./variables";

$nav-padding: 10px;
$navbar-height: 60px;
$navbar-link-height: 40px;

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-family: $font-heading;
	background-color: rgba(map-get($theme-colors, background), 0.9);
	padding: 0 $nav-padding;
	transition: top ease 1s;
	border-bottom: $border;
	
	&.-hide {
		top: -$navbar-height;
	}
	@include media-breakpoint-down(xs) {
		text-align: center;
	}
}

.navbarBrand {
	display: inline-block;
	height: $navbar-height;
	line-height: $navbar-height;

	img {
		height: $navbar-height;
	}
}

ul.navbarLinks {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;

	>li {
		padding: 0;
		display: inline-block;

		&::before {
			display: none;
		}

		>a {
			height: $navbar-link-height;
			line-height: $navbar-link-height;
			padding-top: ($navbar-height - $navbar-link-height) / 2;
			vertical-align: middle;
			display: inline-block;
			padding: 0 $nav-padding;
			color: map-get($theme-colors, "dark");
			
			@include media-breakpoint-down(xs) {
				padding: 0 $nav-padding*0.75;
				font-size: 80%;
			}

			&.btn {
				padding: 0 $nav-padding*1.25; 
				margin: 0 $nav-padding*0.5;
			}
		}

		&+li {
			>a {
				border-left: 1px solid map-get($theme-colors, "gray");
			}
		}
	}
}