$icon-font-path: "/fonts/";
$theme-font-path: "/fonts/";

$primary: rgb(111, 188, 70);
$primary-compliment: #fff;
$info: yellow;
$background: #fff;

$gray-darker: #444;
$gray-dark: #666;
$gray: #999;
$gray-light: #bbb;
$gray-lighter: #eee;

$light: #fff;
$dark: $gray-darker;

$theme-colors: ("primary": $primary,
"primary-compliment": $primary-compliment,
"info": $info,
"background": $background,
"light": $light,
"light-complement": $dark,
"dark": $dark,
"dark-complement": $light,
"gray-light": $gray-light,
"gray-lighter": $gray-lighter,
"gray": $gray,
"gray-dark": $gray-dark,
"gray-darker": $gray-darker);

$font-name-body: "Helvetica";
$font-name-heading: "Helvetica";

$font-body: $font-name-body,
Helvetica,
sans-serif;
$font-heading: $font-name-heading,
Helvetica,
sans-serif;

$grid-gutter-width: 40px;
$padding-well: 20px;

$border: 1px solid map-get($theme-colors, "gray-lighter");

// from icomoon
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: $icon-font-path;

$icon-be-activated: "\e903";
$icon-remedial-massage: "\e904";
$icon-pilates: "\e905";
$icon-jems: "\e906";
$icon-oov: "\e907";
$icon-chevron-left: "\e901";
$icon-chevron-right: "\e902";
$icon-mail: "\e900";
$icon-facebook: "\ea91";
$icon-tumblr: "\eaba";
$icon-linkedin: "\eac9";

